params {
    bam_dir = "${projectDir}/data/bam_files"                   // Directory containing BAM files
    tumor_list = "${projectDir}/data/tumor_bams.txt"           // Path to tumor BAM list (default)
    normal_list = "${projectDir}/data/normal_bams.txt"         // Path to normal BAM list (default)
    reference = "${projectDir}/data/GRCh38.p14.genome.fa"      // Path to the reference genome (default)
    out_dir = "output"                                         // Output directory for results
    windows_bed = "${projectDir}/data/windows.1000kb.bed"      // Path to the default BED file
    conda_yaml = "${projectDir}/data/conda.yaml"
    threads = 12                                               // Number of threads for the nanofrag process
    skip_small_variants = true                                 // Whether to skip small variants
    disable_ping = false                                       // Default Nextflow telemetry setting
    validate_params = true                                     // Enable parameter validation
}

manifest {
    name            = 'bdolmo/wf-nanofrag'
    author          = 'Bernat del Olmo'
    homePage        = 'https://github.com/bdolmo/wf-nanofrag'
    description     = 'Analysis of cell-free DNA fragments with nanopore sequencing'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '1.0.0'
}
docker {
    enabled = true
}
conda {
    enabled = true
}


process {
    // Global Docker configuration
    withName:ichorCNV {
        container = 'seqeralabs/ichorcna:latest'                     // Use the ichorCNV Docker image
        memory = '8 GB'
        cpus = 4
    }
    withName:nanoMix {
        container = 'bdolmo/nanomix:1.0.0'                   // Use the NanoMix Docker image
        memory = '16 GB'
        cpus = 8
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }
    docker {
        process.executor = 'docker'
        docker.enabled = true
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
    PATH = "$PATH:/bin/nanofrag"
}
